*{
    padding: 0;
    box-sizing: none;
}
.logo{
    font-size: 25px;
}
#icon{
    font-size: 45px;
    color: black;
}
#post{
    background-color: black;
    color: aliceblue;
    height: 40px;
    width: 350px;
    border-radius: 8px;
    border: none;

}
center{
    cursor: pointer;
}
#Desc{
    width:350px;
}
#input{
    width: 350px;
    border:none;
    height: 30px;
    padding-left: 20px;
}
.outer{
    margin-top: 50px;
    border-radius: 20px;
    border: 1px solid black;
    width: 400px;
    box-shadow: 3px 3px 3px 3px black;
    background-color: rgb(176, 174, 174);

}
.forgot{
    text-align: right;
    color: black;
}
.blogjsx{
    margin-left: 350px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 20px;
    width: 550px;
    padding: 5px 20px ;
    background-color: rgb(176, 174, 174);
} 
#navbar{
    margin-top: -9px;
    padding: 5px 30px 5px 30px;
    background-color: rgb(176, 174, 174);
}
.user{
    margin-left: 10px;
    width: 45px;
    background-color: aliceblue;
    border-radius: 50%;
    text-align: center;
    border: 2px solid black;
}

/* rijtrsitjwitjwoiwjt */

#i {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form1 {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .inputbox {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
  }
  
/* email */
#text{
    width: 300px;
}


/* otp */

.inputbox1{
    /* margin-bottom: 10px; */
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
}
#otp{
    background-color: black;
    color: white;
    border-radius: 20px;
    height: 30px;
    width: 100px;
    text-align: center;
}
#e{
    width: 350px;
}
