.viewBlog{
  height: 100%;
}
#vtitle{
  font-size: 70px;
}
.viewBlog img {
  margin-top: 20px;
  height: 15pc;
  width: auto;
}
#vp {
  margin-top: 30px;
  width: 80%;
}

@media screen and (max-width:625px) {
  #vtitle{
    font-size: 20px;
  }
  .viewBlog img {
    margin-top: 20px;
    height: 10pc;
    width: auto;
  }
}
